<html>

<head>
    <title>UERM E-Triage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css" />
    <script src="../bootstrap/js/bootstrap.js"></script>
    <script src="../vue/vue.js"></script>
    <script src="../javascripts/md5.js"></script>
    <style>
        body,
        html {
            height: 100% !important;
        }

        .item.active {
            background-color: rgba(166, 220, 255, 0.5);
        }

        .item {
            cursor: pointer;
        }

        .text-color {
            color: white;
        }

        #vue-app {
            overflow: auto;
        }

        @media screen and (min-width: 1024px) {
            myNewDivHeight {
                height: 250px;
            }
        }
    </style>
</head>

<body>
    <div id="vue-app" class="h-100">
        <header>
            <div class="navbar navbar-dark bg-primary shadow-sm">
                <div class="container d-flex justify-content-between">
                    <a href="#" class="navbar-brand d-flex align-items-center">
                        <strong>ETriage Main Dashboard</strong>
                    </a>
                </div>
            </div>
        </header>
        <main role="main">
            <div v-if="!isDataLoaded" class="py-5 text-center">

                <div>
                    <b class="fa fa-spinner fa-spin fa-5x"></b>
                </div>
                <div>
                    <p>
                        FETCHING DATA ...
                    </p>
                </div>
            </div>
            <div class="container py-5" v-if="isDataLoaded">
                <div class="row">
                    <div class="col-sm-6" v-for="app in apps">
                        <div class="position-relative rounded" v-bind:class="[app.background]"
                            style="padding-top: 100%;">
                            <a v-bind:href="app.route"
                                class="position-absolute d-flex align-items-center justify-content-center flex-column"
                                style="top: 0; bottom: 0; left: 0; right: 0;color:#FFF;text-decoration: none;">
                                <h1 class="display-2"><b v-bind:class="app.icon"></b></h1>
                                <h2 class="text-center">{{app.name}}</h2>
                                <h3> Today: {{app.count}}</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script>
        const vue = new Vue({
            el: "#vue-app",
            data: {
                apiUrl: "https://apps.uerm.edu.ph:3443/",
                apiKey: "7190WHUt7gzKgrRURMnoS4D7tX6Xp112",
                eTriageVisitorsCountToday: '',
                eTriageEmployeesCountToday: '',
                apps: [
                    { name: "Employees / Residents / Consultants", route: "/admin/employees", icon: "fa fa-user", background: "bg-primary", count: '' },
                    { name: 'Visitors', route: '/admin/visitors', icon: "fa fa-users", background: "bg-danger", count: '1231' },
                ],
                isDataLoaded: false,
            },

            created() {
                this.eTriageCountTodayVisitors();
                this.eTriageCountTodayEmployees();
            },
            methods: {
                async eTriageCountTodayEmployees() {
                    this.isDataLoaded = true;

                    const response = await fetch(
                        `${this.apiUrl}etriage/dashboard-etriage-today?auth=${this.apiKey}`,
                        {
                            method: "GET",
                            headers: { "Content-Type": "application/json" },
                        }
                    );
                    const responseJson = await response.json();

                    if (responseJson.length > 0) {
                        this.showStatus = true;
                    }

                    this.apps[1]['count'] = responseJson.length;
                },
                async eTriageCountTodayVisitors() {

                    const response = await fetch(
                        `${this.apiUrl}etriage/dashboard-etriage-today?auth=${this.apiKey}`,
                        {
                            method: "GET",
                            headers: { "Content-Type": "application/json" },
                        }
                    );
                    const responseJson = await response.json();

                    if (responseJson.length > 0) {
                        this.showStatus = true;
                    }

                    this.apps[0]['count'] = responseJson.length;

                },
            },
        });
    </script>
</body>

</html>